body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.w100 {
  width: 100%;
}

#counterBtns {
  padding: 12px;
}

#counterBtnsWrapper {
  padding: 4px;
  overflow: hidden;
  background: pink;
}

body {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.drop-shadow {
  -webkit-box-shadow: 3px 1px 3px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 1px 3px 2px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 1px 3px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.inner-shadow {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
